<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span id="title"> <a routerLink=''><h5><strong>AssignMate</strong></h5></a></span>
    <span class="example-spacer"></span>
    <a *ngIf="!auth.isLoggedIn" routerLink='login'><button class="toolbar-text" mat-button>Log In</button></a>
    <a *ngIf="!auth.isLoggedIn" routerLink='signup'><button class="toolbar-text" mat-button>Sign In</button></a>
    <div id="name-tag" *ngIf="(auth.authState$ | async) as user; else loading">
      <a class="greet" *ngIf="auth.isLoggedIn" routerLink='profile'>Hi <strong>{{user.displayName}}</strong></a>
      <img [src]="user.photoURL" [mat-menu-trigger-for]="menu" alt="">
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink='/'>Home</button>
            <button mat-menu-item routerLink='profile'>Profile</button>
            <button mat-menu-item (click)="logout()">Sign Out</button>
        </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #loading>

</ng-template>

<router-outlet></router-outlet>
