mat-form-field {
    opacity: 1 !important;
    font-size: 12px;
}

mat-form-field .mat-input-placeholder {
    font-size: 13px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding: 1em;
    width: 400px;
    margin: auto;
}


.whole {
    grid-column: 1/3;
}

.left {
    grid-column: 1/2
}

.right {
    grid-column: 2/3;
}

button {
    position: absolute;
    top: 400px;
    width: 100px;
    margin-left: 150px;
}

#status {
    width: 300px;
    position: absolute;
    top: 350px;
    text-align: center;
    margin-left: 50px;
}

form div {
    vertical-align: top;
}

input {
    font-size: 12px;
}
